<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.arifin.daringschool">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Adapter.AppController"
        android:allowBackup="true"
        android:exported="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/daring"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/daring"
        android:supportsRtl="true"
        android:theme="@style/Theme.DaringSchool"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute">
        <activity android:name=".Activity.CreateAssignmentActivity"></activity>
        <activity android:name=".Activity.GradeActivity" />
        <activity android:name=".Activity.ExaminationActivity" />
        <activity android:name=".Activity.ScheduleActivity" />
        <activity android:name=".Activity.AssigmentActivity" />
        <activity android:name=".Activity.HistoryAbsenActivity" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.ChangePasswordActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.IntroSliderActivity" />
        <activity android:name=".Activity.AlarmActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity
            android:name=".Activity.SplashScreenActivity"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".BroadcastReceiver.AlarmBroadcastReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".BroadcastReceiver.AlarmService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>