<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.arifin.daringschool">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".Adapter.AppController"
        android:icon="@drawable/daring"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/daring"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Activity.UiParent.Activity.EBookActivityParent" />
        <activity android:name=".Activity.UiStudent.Activity.EBookActivityStudent" />
        <activity android:name=".Activity.UiTeacher.Activity.CreateEbookActivity" />
        <activity android:name=".Activity.UiTeacher.Activity.EbookActivity" />
        <activity android:name=".Activity.UiParent.MainActivityParent" />
        <activity android:name=".Activity.UiTeacher.MainActivityTeacher" />
        <activity android:name=".Activity.UiStudent.Activity.EditProfileActivity" />
        <activity android:name=".Activity.UiTeacher.Activity.CreateAssignmentActivity" />
        <activity android:name=".Activity.UiStudent.Activity.GradeActivity" />
        <activity android:name=".Activity.UiTeacher.Activity.ExaminationActivity" />
        <activity android:name=".Activity.UiStudent.Activity.ScheduleActivity" />
        <activity android:name=".Activity.UiTeacher.Activity.AssigmentActivity" />
        <activity android:name=".Activity.UiStudent.Activity.HistoryAbsenActivity" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.UiStudent.Activity.ChangePasswordActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.IntroSliderActivity" />
        <activity android:name=".CalendarBottomSheetFragment.AlarmActivity" />
        <activity android:name=".Activity.UiStudent.MainActivityStudent" />
        <activity
            android:name=".Activity.SplashScreenActivity"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".CalendarBottomSheetFragment.AlarmBroadcastReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".CalendarBottomSheetFragment.AlarmService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="Instantiatable" />
    </application>

</manifest>